@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #7e097e;
  --cor2: #9d299b;
  --cor3: #bb49b8;
  --cor4: #da69d6;
  --cor5: #f889f3;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--cor5);
  color: var(--cor1);
}


/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  body {
    font-size: 0.95rem; 
  }

  .container {
    padding: 20px;      
  }
}
